<div id="update">
  <h2>Update the drone</h2>

  <form action="/drones/{{this.editDrone._id}}/edit" method="post">
    <br />
    <label for="name"> Name</label>
    <input type="text" name="name" value="{{this.editDrone.name}}" />
    <br />
    <label for="propellers"> Propellers</label>
    <input
      type="number"
      name="propellers"
      value="{{this.editDrone.propellers}}"
    />
    <br />
    <label for="maxSpeed"> Maximum Speedo</label>
    <input type="number" name="maxSpeed" value="{{this.editDrone.maxSpeed}}" />
    <br />

    <button> Editar Dron</button>

  </form>
</div>